#divone{
    background: url(./images/hero-cover.3.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
#Navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav{
    display: flex;
}
nav ul li{
    display: inline;
    padding: 30px;
}
#login button, #login p{
    display: inline;
    margin: 20px;
}
.ensure{
    display: flex;
    justify-content: center;
    align-items: column;
}
.ensure h2{
    font-weight: bold;
    color: white;
    font-size: 80px;
    text-align: center;
}
.ensure p{
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}
#btn1{
    background-color: #23A6F0;
    color: white;
    padding: 15px;
    border-radius: 25px;
    width: 200px;
  
        
    
}
#btn2{
    border: solid white;
    padding: 15px;
    border-radius: 25px;
    width: 200px;
    background: transparent;
}

.tripbox{
    position: relative;
    top: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.peace{
    background-color: white;
    padding: 20px;
    width: auto;
    
}

.satisfaction{
    background-color: #23A6F0;
    padding: 20px;
    width: auto; 
}
#divtwo{
    display: flex;
    justify-content: space-evenly;
    padding: 150px;
}
.industry{
    text-align: center;
}
.users{
    display: flex;
    justify-content: space-evenly;
    padding: 150px;
}
.user1{
    border:grey solid 1px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#icons{
    display: flex;
    justify-content: center;
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 900px;
    align-items: center;
}
#gradient{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.gradient{
    background-color: hotpink;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 900px;
    align-items: center;

}
.free{
    border: 2px solid #23A6F0;
    padding: 50px;
    border-radius: 10px;
}
.standard{
    border: solid 2px #23A6F0;
    padding: 50px;
    background-color: #252B42;
    color: white;
    border-radius: 10px;
}
.premium{
    border: solid 2px #23A6F0;
    padding: 50px;
    border-radius: 10px;
}
.fa-check-circle{
    color: green;
}
.exclude{
    color: grey;
}

#newsletter p{
    color: white;
    font-weight: bold;
}
.pricing{
    text-align: center;
}
.divs{
    display: flex;
    justify-content: center;

}
.bookappointment{
    background-color: #252B42;
    padding: 100px 200px 100px 200px;
    color: white;
}
#branchmap{
    display: flex;
}
#branchmap h2{
    font-size: 40px;
}
#branchmap p{
    font-size: 20px;
}
#world{
    height: 200px;
}
.filldetails{
    display: flex;
    justify-content: center;
    background-color: blue;
    width: 500px;
    margin: auto;
    
}
.consulting{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.footer{
    display:flex;
    justify-content:center;
}