@media only screen and (max-width:600px){


    nav ul li{
        display: flex;
        flex-direction: column;
        background-color: white;
        font-size: 30px;
        color: black;
    }
    nav ul{
        padding: 50px 0 50px 0;
    
    }
    #Navigation{
        background-color:rgb(255, 255, 255);
        color: black;
    }
    #Navigation h1{ color: black;}
    #divone{
        background-size:cover;
        background-position-x: -1195px;
     
    }
    #login button{
        display: none;
    }
    .phoneicons{
        display: inline;
        justify-content: space-evenly;
    }
    .fa-search{
        width: 50px;
    }
    .fa-cart-plus{
        width: 50px;
    }

    .tripbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .tripboxx{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .peace{
        
        align-content: center ;
        text-align: center;
        margin: 30px;
    }
    .satisfaction{
        
        align-content: center ;
        text-align: center;
        margin: 30px;
    }
    #divtwo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .users{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .user1{
        margin: 30px;
        width: 300px;
    }
    .icons{
        display: flex;
        flex-direction: column;
    }
    .divs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .premium{
        width: auto;
        margin: 70px;
    }
    .standard{
        width: auto;
        margin: 70px;
    }
    .free{
        width: auto;
        margin: 70px;
    }
    .bookappointment{
        display: flex;
        flex-direction: column;
    }
    #branchmap{
        display: flex;
        flex-direction: column;
    }
    .bookappointment{
        padding: 100px 50px 100px 50px;
    }
    .filldetails{
        display: none;
        
    }
    .footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 50px;
    }
    #img1{
        height: 50px;
        margin: 20px;
    }
    #img2{
        height: 50px;
        margin: 20px;
    }
    #img3{
        height: 50px;
        margin: 20px;
    }
    #img4{
        height: 50px;
        margin: 20px;
    }
    #img5{
        height: 50px;
        margin: 20px;
    }
    #img6{
        height: 50px;
        margin: 20px;
    }
    .gradientt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .consulting{
        display: none;
    }
    #world{
        width: 400px;
    }
    .phonelist{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }





    
    









}
